{{ define "main"}}
  <main id="main">
    <section class="pb-0">
      <div class="d-flex justify-content-center" style="background-color: transparent;">
          <div class="text-center" style="background-color: transparent;">
              <h2 class="font-family-rubik" style="line-height: 36px;font-size: 30px;font-weight:300">Oops we are unable to find that link</h2>
              <a id="myBtn" class="btn btn-primary btn-connect mt-3 text-nowrap" href="/">Continue to our site</a>
          </div>
      </div>
    </section>
  </main>
{{ end }}
